@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Haragino";
  src: local("Haragino"),
   url("../fonts/Haragino.otf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "SFPro";
  src: local("SFPro"),
   url("../fonts/SFPro.otf") format("truetype");
  font-weight: normal;
}

body,html {
  font-family:  'Helvetica Neue';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
